.guides {
  height: 97%;
  width: 98%;
  margin: 1%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 5px;
  font-family: Breakable;

  .info {
    .top-header {
      height: 40px;
      margin: 1%;
      > div {
        border-radius: 5px;
      }
      .content {
        display: grid;
        grid-template-columns: 1fr 6fr;
        .icon img {
          height: 30px;
        }
        .name {
          font-size: 22px;
        }
      }
    }
    .list {
      overflow: auto;
      max-height: 265px;
      .guide {
        height: 100px;
        width: 99%;
        margin: 10px 0;
        &:hover {
          cursor: pointer;
        }
        > div {
          border-radius: 5px;
        }
        .content {
          display: grid;
          grid-template-columns: 1fr 5fr;
          .icon img {
            height: 50px;
          }
          .units {
            display: flex;
            border-left: 1px dashed;
            .unit {
              margin: 0 2px;
              font-size: 16px;
              display: grid;
              grid-template-rows: 3fr 1fr 1fr;
              img {
                height: 30px;
              }
              .amount {
                height: 16px;
              }
              .icon {
                height: 30px;
              }
            }
          }
        }   
      }
    }

  }

  .side-menu {
    display: grid;
    grid-template-rows: 5fr repeat(3, 1fr) 4fr;
    grid-gap: 5px;
    height: 320px;
    > div {
      border-radius: 5px;
    }
    .avatar {
      .content {
        display: grid;
        grid-template-rows: 7fr 3fr;
        .icon img {
          height: 70px;
        }
        .name {
          font-size: 20px;
        }
      }
    }
    .side-item {
      &:hover {
        cursor: pointer;
        .content {
          color: red;
        }
      }
      .content {
        display: grid;
        grid-template-columns: 2fr 5fr;
        .icon  img {
          height: 20px;
        }
        .text {
          font-size: 16px;
        }
      }
    }
  }
}

.map {
  height: 100%;
  .zoom {
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: 6px;
    top: unset;
    left: unset;
    > div {
      border-radius: 15px;
      font-size: 14px;
    }
  }

  img {
    max-width: 100%;
  }
}

.map.map-big {
  .wrapper{
    overflow: hidden;
    > div {
      overflow: auto;
      width: 500px;
      height: 320px;
    }
    img {
      max-width: 1500px;
    }
  }
  .zoom {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    > div {
      border-radius: 20px;
      font-size: 18px;
    }
  }
}