<div class="adventure" *ngIf="!progress.message && !zoomed">
	<div class="side-menu">
		<div class="avatar container">
			<div class="background bc-primary o-75"></div>
			<div class="content c-primary">
				<div class="icon center-content">
					<img src="{{ads.adventure.icon}}">
				</div>
				<div class="name center-content">
					{{ads.adventure.name}}
				</div>
			</div>
		</div>

		<div class="side-item container">
			<div class="background bc-primary o-75"></div>
			<div class="content c-primary">
				<div class="icon center-content">
					<img src="../../assets/icons/star.png">
				</div>
				<div class="text center-content">			
					Level {{ads.adventure.info.level}}+
				</div>
			</div>
		</div>

		<div class="side-item container">
			<div class="background bc-primary o-75"></div>
			<div class="content c-primary">
				<div class="icon center-content">
					<img src="../../assets/icons/medal.png">
				</div>
				<div class="text center-content">
					{{ads.adventure.info.xp}} XP
				</div>
			</div>
		</div>

		<div class="side-item container">
			<div class="background bc-primary o-75"></div>
			<div class="content c-primary">
				<div class="icon center-content">
					<img src="../../assets/icons/hourglass.png">
				</div>
				<div class="text center-content">
					{{ads.adventure.info.time}} {{ads.adventure.info.time > 1 ? "hours" : "hour"}}
				</div>
			</div>
		</div>

		<div class="side-item container">
			<div class="background bc-primary o-75"></div>
			<div class="content c-primary">
				<div class="icon center-content">
					<img src="../../assets/icons/difficulty.png">
				</div>
				<div class="text center-content">			
					Difficulty: {{ads.adventure.info.difficulty}}
				</div>
			</div>
		</div>

		<div class="side-item container">
			<div class="background bc-primary o-75"></div>
			<div class="content c-primary">
				<div class="icon center-content">
					<img src="../../assets/icons/group.png">
				</div>
				<div class="text center-content">			
					{{ads.adventure.info.players}} {{ads.adventure.info.players > 1 ? "players" : "player"}}
				</div>
			</div>
		</div>
	</div>

	<div class="info">
		<div class="map container center-content">
			<div class="center-content">
				<img src="{{ads.adventure.info.map}}">
			</div>
			<div class="zoom container" (click)="toggleZoom()">
				<div class="background bc-positive o-75"></div>
				<div class="content c-secondary center-content">
					<i class="fa fa-search-plus"></i>
				</div>
			</div>
		</div>
		
		<div class="buttons">
			<div class="choice-btn container" (click)="goTo('camps')">
				<div class="background bc-primary o-75"></div>
				<div class="content c-primary">
					<div class="icon center-content">
						<img src="../../assets/icons/tent.png">
					</div>
					<div class="text center-content">			
						Camps
					</div>
				</div>
			</div>
			<div class="choice-btn container" (click)="goTo('guides')">
				<div class="background bc-primary o-75"></div>
				<div class="content c-primary">
					<div class="icon center-content">
						<img src="../../assets/icons/guide.png">
					</div>
					<div class="text center-content">			
						Guides
					</div>
				</div>
			</div>
			<div class="choice-btn container">
				<div class="background bc-primary o-75"></div>
				<div class="content c-primary">
					<div class="icon center-content">
						<img src="../../assets/icons/scroll.png">
					</div>
					<div class="text center-content">			
						Quests
					</div>
				</div>
				<div class="locked font30 center-content">
					Locked
				</div>
			</div>
			<div class="choice-btn container">
				<div class="background bc-primary o-75"></div>
				<div class="content c-primary">
					<div class="icon center-content">
						<img src="../../assets/icons/coins-stack.png">
					</div>
					<div class="text center-content">			
						Rewards
					</div>
				</div>
				<div class="locked font30 center-content">
					Locked
				</div>
			</div>
		</div>
	</div>
</div>
<div class="map map-big container center-content" *ngIf="!progress.message && zoomed">
	<div class="wrapper">
		<div>
			<img src="{{ads.adventure.info.map}}">
		</div>
	</div>
	<div class="zoom container" (click)="toggleZoom()">
		<div class="background bc-positive o-75"></div>
		<div class="content c-secondary center-content">
			<i class="fa fa-search-minus"></i>
		</div>
	</div>
</div>
<div class="loading container" *ngIf="progress.message">
	<div class="bc-primary o-75"></div>
	<div class="center-content c-primary">
		{{progress.message}}
	</div>
</div>