.adventure {
  height: 97%;
  width: 98%;
  margin: 1%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 5px;
  font-family: Breakable;

  .info {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 5px;
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
      .choice-btn {
        > div {
          border-radius: 5px;
        }
        .content {
          display: grid;
          grid-template-rows: 7fr 3fr;
          .icon img {
            height: 30px;
          }
          .text {
            font-size: 25px;
          }
        }
      }
    }
  }
  .side-menu {
    display: grid;
    grid-template-rows: 20fr repeat(5, 5fr);
    grid-gap: 5px;
    > div {
      border-radius: 5px;
    }
    .avatar {
      .content {
        display: grid;
        grid-template-rows: 7fr 3fr;
        .icon img {
          height: 70px;
        }
        .name {
          font-size: 20px;
        }
      }
    }
    .side-item {
      .content {
        display: grid;
        grid-template-columns: 2fr 5fr;
        border-top: 1px dotted;
        .icon  img {
          height: 20px;
        }
        .text {
          font-size: 16px;
        }
      }
    }
  }
}

.map {
  height: 100%;
  .zoom {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 6px;
    top: unset;
    left: unset;
    > div {
      border-radius: 20px;
      font-size: 18px;
    }
  }
  
  img {
    max-width: 100%;
  }
}

.map.map-big {
  .wrapper{
    overflow: hidden;
    > div {
      overflow: auto;
      width: 500px;
      height: 320px;
    }
    img {
      max-width: 1500px;
    }
  }
  .zoom {
    bottom: 20px;
    right: 20px;
  }
}