.adventure {
  height: 97%;
  width: 98%;
  margin: 1%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 5px;
  font-family: Breakable;

  .info {
    display: grid;
    grid-template-rows: 5fr 2fr;
    grid-gap: 5px;
    .buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
      .choice-btn {
        > div {
          border-radius: 5px;
        }
        .content {
          display: grid;
          grid-template-rows: 7fr 3fr;
          .icon img {
            height: 30px;
          }
          .text {
            font-size: 25px;
          }
        }
      }
    }
    .map img {
      max-width: 100%;
      // transition: all 0.3s;
    }
    // .map:hover img {
    //   transform: scale(3);
    // }
  }
  
  .side-menu {
    display: grid;
    grid-template-rows: 20fr repeat(5, 5fr);
    grid-gap: 5px;
    > div {
      border-radius: 5px;
    }
    .avatar {
      .content {
        display: grid;
        grid-template-rows: 7fr 3fr;
        .icon img {
          height: 70px;
        }
        .name {
          font-size: 20px;
        }
      }
    }
    .side-item {
      .content {
        display: grid;
        grid-template-columns: 2fr 5fr;
        border-top: 1px dotted;
        .icon img {
          height: 20px;
        }
        .text {
          font-size: 16px;
        }
      }
    }
  }
}

.font30 {
  font-size: 30px;
}