.login {
  font-family: Breakable;
  height: 280px;
  width: 400px;
  margin: 20px 50px;
  > div {
    border-radius: 15px;
  }
  .content {
    display: grid;
    grid-template-rows: 2fr 4fr 1fr 2fr;
  }
  .login-google {
    font-size: 16px;
    margin-top: 10px;
    .google-btn {
      height: 40px;
      width: 200px;
      border-radius: 3px;
      background: transparent;
      border: 2px solid;
      color: #df4a32;
      > i {
        margin-right: 5px;
      }
      &:hover {
        cursor: pointer;
        border: 3px solid;
      }
    }
  }
  .login-header {
    font-size: 30px;
    color: #d21f1f;
  }
  .login-separator {
    margin-top: 10px;
    font-size: 20px;
  }
  form {
    > input {
      box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 1em;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 5px;
      font-family: Breakable;
      font-size: 16px;
      height: 35px;
      color: #d21f1f;
      font-weight: bold;
    }
    .login-help {
      height: 25px;
      font-size: 18px;
      border: 1px dashed;
      width: 200px;
      margin-left: 50px;
    }
    .login-sign {
      font-size: 20px;
      .sign-btn {
        height: 40px;
        width: 200px;
        border-radius: 3px;
        background: transparent;
        border: 2px solid;
        i {
          margin-right: 3px;
        }
        &:hover {
          cursor: pointer;
          border: 3px solid;
        }
      }
    }
  }
}