<div class="log" *ngIf="bs.log">
	<div class="log-header">
		<div class="log-spin container">
			<div class="bc-primary o-75"></div>
			<div class="log-spin-content center-content c-primary">
				<div class="log-spin-left center-content" *ngIf="current.round != 0" (click)="previousRound()">
					<i class="fa fa-chevron-left"></i>
				</div>
				<div class="log-spin-center center-content">
					Round {{current.round + 1}}
				</div>
				<div class="log-spin-right center-content" *ngIf="current.round != (bs.log.length - 2)" (click)="nextRound()">
					<i class="fa fa-chevron-right"></i>
				</div>
			</div>
		</div>

		<div class="log-spin container">
			<div class="bc-secondary o-75"></div>
			<div class="log-spin-content center-content c-secondary">
				<div class="log-spin-left center-content" *ngIf="current.phases.num != 0" (click)="previousPhase()">
					<i class="fa fa-chevron-left"></i>
				</div>
				<div class="log-spin-center center-content">
					{{ current.phases.list[current.phases.num].name }}
				</div>
				<div class="log-spin-right center-content" *ngIf="current.phases.num != (current.phases.list.length - 1)" (click)="nextPhase()">
					<i class="fa fa-chevron-right"></i>
				</div>
			</div>
		</div>

		<div class="log-spin container">
			<div class="bc-primary o-75"></div>
			<div class="log-spin-content center-content c-primary">
				<div class="log-spin-left center-content" *ngIf="current.tabs.num != 0" (click)="previousTab()">
					<i class="fa fa-chevron-left"></i>
				</div>
				<div class="log-spin-center center-content">
					{{ current.tabs.list[current.tabs.num].name }}
				</div>
				<div class="log-spin-right center-content" *ngIf="current.tabs.num != (current.tabs.list.length - 1)" (click)="nextTab()">
					<i class="fa fa-chevron-right"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="log-attacks" *ngIf="current.tabs.list[current.tabs.num].attacks">
		<div class="attack" *ngFor="let unit of current.tabs.list[current.tabs.num].attacks">
			<div class="unit container">
				<div class="bc-primary o-75"></div>
				<div class="content c-positive">
					<div class="icon center-content">
						<img src="../../assets/icons/flash.png">
						{{unit.num}}
					</div>
					<div class="unit-icon center-content">
						<img src="{{unit.icon}}">
					</div>
					<div class="ext left-content">
						{{unit.name}}
					</div>
					<div class="text center-content">
						{{unit.blows[0].full_damage}}
					</div>
				</div>
			</div>

			<div class="arrow center-content c-negative">
				<i class="fa fa-arrow-right"></i>
			</div>

			<div class="unit blow container" *ngFor="let blow of unit.blows; let bi = index" [attr.data-index]="bi">
				<div class="bc-primary o-75"></div>
				<div class="content c-negative">
					<div class="icon center-content">
						<img src="../../assets/icons/wound.png" *ngIf="blow.status == 'wound'">
						<img src="../../assets/icons/death.png" *ngIf="blow.status == 'kill'">
					</div>
					<div class="unit-icon center-content">
						<img src="{{blow.icon}}">
					</div>
					<div class="text left-content">
						{{blow.name}}
					</div>
					<div class="text center-content">
						{{blow.damage}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="log-casualties" *ngIf="current.tabs.list[current.tabs.num].casualties">

		<div class="header container center-content">
			<div class="background bc-primary o-75"></div>
			<div class="content center-content c-primary">
				Soldiers
			</div>
		</div>

		<div class="header container center-content">
			<div class="background bc-primary o-75"></div>
			<div class="content center-content c-primary">
				Enemies
			</div>
		</div>

		<div class="side container center-content" *ngIf="current.tabs.list[current.tabs.num].casualties.soldiers.length > 0">
			<div class="background bc-primary o-75"></div>
			<div class="content center-content c-primary">
				<div class="unit" *ngFor="let soldier of current.tabs.list[current.tabs.num].casualties.soldiers">
					<div class="icon center-content">
						<img src="{{soldier.icon}}">
					</div>
					<div class="text center-content">
						{{soldier.amount}}
					</div>
				</div>
			</div>
		</div>

		<div class="side side-big container center-content" *ngIf="current.tabs.list[current.tabs.num].casualties.soldiers.length == 0">
			<div class="background bc-primary o-75"></div>
			<div class="content center-content c-primary">
				No casualties
			</div>
		</div>

		<div class="side container center-content" *ngIf="current.tabs.list[current.tabs.num].casualties.enemies.length > 0">
			<div class="background bc-primary o-75"></div>
			<div class="content center-content c-primary">
				<div class="unit" *ngFor="let enemy of current.tabs.list[current.tabs.num].casualties.enemies">
					<div class="icon center-content">
						<img src="{{enemy.icon}}">
					</div>
					<div class="text center-content">
						{{enemy.amount}}
					</div>
				</div>
			</div>
		</div>

		<div class="side side-big container center-content" *ngIf="current.tabs.list[current.tabs.num].casualties.enemies.length == 0">
			<div class="background bc-primary o-75"></div>
			<div class="content center-content c-primary">
				No casualties
			</div>
		</div>

	</div>
</div>