<div class="log" *ngIf="!progress.message && battle.log">
	<div class="log-header">
		<div class="log-spin container">
			<div class="bc-primary o-75"></div>
			<div class="log-spin-content center-content c-primary">
				<div class="log-spin-left center-content" *ngIf="current.round.num != 0" (click)="previousRound()">
					<i class="fa fa-chevron-left"></i>
				</div>
				<div class="log-spin-center center-content">
					Round {{current.round.num + 1}}
				</div>
				<div class="log-spin-right center-content" *ngIf="current.round.num != (battle.log.rounds.length - 1)" (click)="nextRound()">
					<i class="fa fa-chevron-right"></i>
				</div>
			</div>
		</div>

		<div class="log-spin container">
			<div class="bc-primary o-75"></div>
			<div class="log-spin-content center-content c-primary">
				<div class="log-spin-left center-content" *ngIf="current.display != 'attacks'" (click)="display('attacks')">
					<i class="fa fa-chevron-left"></i>
				</div>
				<div class="log-spin-center center-content">
					{{ current.display == 'attacks' ? "Attacks" : "Casualties" }}
				</div>
				<div class="log-spin-right center-content" *ngIf="current.display != 'casualties'" (click)="display('casualties')">
					<i class="fa fa-chevron-right"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="log-attacks" *ngIf="current.display == 'attacks'">
		<div class="attack" *ngFor="let attack of current.round.attacks">
			<div class="unit container">
				<div class="bc-primary o-75"></div>
				<div class="content c-primary">
					<div class="unit-icon center-content">
						<img src="{{attack.s.icon}}">
						{{attack.s.amount}}
					</div>
					<div class="icon center-content c-positive">
						<img src="../../assets/icons/flash.png">
						{{attack.s.damage}}
					</div>
					<div class="icon center-content c-negative" *ngIf="attack.s.dead > 0">
						<img src="../../assets/icons/death.png">
						{{attack.s.dead}}
					</div>
					<div class="text center-content" *ngIf="attack.s.dead == 0">
						---
					</div>
				</div>
			</div>

			<div class="arrow center-content c-negative">
				<i class="fa fa-times"></i>
			</div>

			<div class="unit blow container">
				<div class="bc-primary o-75"></div>
				<div class="content c-primary">
					<div class="unit-icon center-content">
						<img src="{{attack.e.icon}}">
						{{attack.e.amount}}
					</div>
					<div class="icon center-content c-positive">
						<img src="../../assets/icons/flash.png">
						{{attack.e.damage}}
					</div>
					<div class="icon center-content c-negative" *ngIf="attack.e.dead > 0">
						<img src="../../assets/icons/death.png">
						{{attack.e.dead}}
					</div>
					<div class="text center-content" *ngIf="attack.e.dead == 0">
						---
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="log-casualties container" *ngIf="current.display == 'casualties'">
		<div class="bc-primary o-75"></div>
		<div class="content center-content c-primary">

			<div class="side center-content" *ngIf="current.round.casualties > 0">
				<img src="{{current.round.attacks[0].s.icon}}">
				{{current.round.casualties}}
			</div>

			<div class="side center-content" *ngIf="current.round.casualties == 0">
				No casualties
			</div>

		</div>
	</div>
</div>
<div class="loading container" *ngIf="progress.message || !battle.log">
	<div class="bc-primary o-75"></div>
	<div class="center-content c-primary">
		{{progress.message}}
	</div>
</div>