<div class="main container">
  <div class="background wall-default"></div>
  <div>
    <div class="header container">
      <div class="bc-primary c-primary o-75"></div>
      <div class="header-content c-primary">
        <div class="back center-content" *ngIf="now() != 'home'" (click)="back()">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="center-content" *ngIf="now() != 'home'" (click)="router.home()">
          <i class="fa fa-home"></i>
        </div>
        <div class="title center-content">
          <span (click)="home()">
            Settlers Prime
          </span>
        </div>
        <div class="logout center-content" *ngIf="auth.isLoggedIn()" (click)="logout()">
          <i class="fa fa-sign-out"></i>
          Log Out
        </div>
        <div class="logout center-content" *ngIf="!auth.isLoggedIn()" (click)="goTo('login')">
          <i class="fa fa-sign-in"></i>
          Log In
        </div>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>