.main {
  width: 500px;
  height: 360px;
  .background {
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/wallpaper.jpg');
  }
  .content {
    height: 320px;
    overflow: hidden;
  }
  .header {
    height: 40px;
    .header-content {
      display: grid;
      grid-template-columns: 1fr 1fr 4fr 2fr;
      font-family: Breakable;
      font-size: 1.25em;
      .logout {
        grid-column: 4;
        > i {
          margin-right: 1em;
        }
      }
      .title {
        grid-column: 3;
        padding-left: 1em;
      }
    }
  }
}