/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

body {
  margin: 0;
}

.container {
  position: relative;
  > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/* content position */

.left-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* background colors */

.bc-primary {
  background-color: whitesmoke;
}

.bc-secondary, .bc-ternary {
  background-color: darkgrey;
}

.bc-above, .bc-positive {
  background-color: seagreen;
}

.bc-below, .bc-negative {
  background-color: firebrick;
}

.bc-sky {
  background-color: #2E86C1;
}

/* colors */

.c-primary {
  color: darkgrey;
}

.c-secondary {
  color: whitesmoke;
}

.c-below, .c-negative, .c-destroy {
  color: firebrick;
}

.c-above, .c-positive, .c-upgrade {
  color: seagreen;
}

.c-equal, .c-gold {
  color: gold;
}

.c-dark {
  color: blue;
}

.c-magenta {
  color: darkmagenta;
}

/* opacity */

.o-25 {
  opacity: 0.25;
}

.o-75 {
  opacity: 0.75;
}

.o-90 {
  opacity: 0.90;
}

@font-face {
  font-family: Breakable;
  src: url('./assets/ShakyHand.otf');
}

.loading {
  height: 320px;
  width: 500px;
  font-size: 3em;
  font-family: Breakable;
}

.authed {
  opacity: 0.75;
  background: repeating-linear-gradient(-45deg, #AED6F1, #2980B9 5px, white 5px, white 10px);
  color: #E74C3C;
}
.locked {
  opacity: 0.75;
  background: repeating-linear-gradient(-45deg, #EC7063, #EB984E 5px, white 5px, white 10px);
  color: #5d1010;
}

.font18 {
  font-size: 18px;
}
.font24 {
  font-size: 24px;
}
.font30 {
  font-size: 30px;
}